*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;

    background:
    linear-gradient(
        rgba(0,0,0,.45),
        rgba(0,0,0,.45)
    ),
    url("pcanh.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    font-family:Arial, sans-serif;
}

.login-card{

    width:450px;

    padding:40px;

    border-radius:25px;

    backdrop-filter:blur(15px);

    background:rgba(255,255,255,.15);

    border:1px solid rgba(255,255,255,.2);

    color:white;
}

.login-card h1{
    text-align:center;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    margin-bottom:25px;
}

.input-box{

    display:flex;
    align-items:center;

    background:rgba(255,255,255,.15);

    border-radius:12px;

    margin-bottom:15px;

    padding:12px;
}

.input-box i{
    margin-right:10px;
}

.input-box input{

    width:100%;

    border:none;
    outline:none;

    background:none;

    color:white;
}

.input-box input::placeholder{
    color:#eee;
}

.btn-register{

    width:100%;

    border:none;

    padding:14px;

    border-radius:12px;

    background:#fbbf24;

    font-weight:bold;

    transition:.3s;
}

.btn-register:hover{
    transform:translateY(-2px);
}

.login-link{
    text-align:center;
    margin-top:20px;
}

.login-link a{
    color:#fbbf24;
    text-decoration:none;
}