body{
    background:#edf2f7;
    font-family:Arial, Helvetica, sans-serif;
}

.payment-box{
    display:flex;
    overflow:hidden;
    border-radius:25px;
    background:white;
    box-shadow:0 15px 35px rgba(0,0,0,.1);
}

/* BÊN TRÁI */

.left-side{
    width:60%;
    min-height:750px;

    background:
    linear-gradient(rgba(0,0,0,.35),
    rgba(0,0,0,.35)),
    url("https://static.vinwonders.com/2022/06/du-lich-da-nang-thang-11-anh-thumb.jpg");

    background-size:cover;
    background-position:center;

    position:relative;
    color:white;
}

.back-link{
    margin:30px;
    border:none;
    padding:12px 24px;
    border-radius:50px;
    background:rgba(255,255,255,.2);
    color:white;
}

.overlay-content{
    position:absolute;
    bottom:80px;
    left:60px;
}

.overlay-content h1{
    font-size:56px;
    font-weight:700;
}

.overlay-content p{
    font-size:20px;
    max-width:450px;
}

/* BÊN PHẢI */

.right-side{
    width:40%;
    padding:50px;
}

.order-card{
    background:#f8fafc;
    padding:20px;
    border-radius:15px;
    margin-bottom:25px;
}

.payment-method{
    border:1px solid #ddd;
    border-radius:15px;
    padding:15px;
}

.form-check{
    margin-bottom:12px;
}
